[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=custom_resize_brush
X-Python-2-Compatible=false
Name=Custom Brush Resize
Comment=Will resize the brush using custom parameters